services:
  postgres:
    image: postgres:16-alpine
    container_name: rbac_postgres
    environment:
      POSTGRES_DB: rbac_app
      POSTGRES_USER: rbac_user
      POSTGRES_PASSWORD: rbac_secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rbac_user -d rbac_app"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: rbac_redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  mailpit:
    image: axllent/mailpit
    container_name: rbac_mailpit
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  pgdata:
  redisdata:
